

<% row = [] %>
<%(0..9).to_a.each do |num| %>
	<% row[num] = BOARD1.grid.values.slice(10 * num, 10) %>
	<% end %>


<% row_board2 = [] %>
<%(0..9).to_a.each do |num| %>
	<% row_board2[num] = BOARD2.grid.values.slice(10 * num, 10) %>
	<% end %>




<section>
	<table>
		<% (0..10).to_a.each do |column| %>
			<th><%= column %></th>
		<% end %> 

		<% ("A".."J").to_a.each_with_index do |letter, index| %>
			<tr>
				<th><%= letter %></th>
				<% row[index].each do |cell| %>
					<% if cell.content.class == Water && !cell.hit? %>
						<td></td>
					<% elsif cell.content.class == Water && cell.hit?%>
						<td > <img src="http://3.bp.blogspot.com/-ta_trXE0F38/UZvmCalbLYI/AAAAAAAADYo/MDrT3Bp47ZM/s1600/15804923-water-splash-isolated-on-black-background.jpg"> </td>
					<% elsif cell.content.class != Water && cell.hit?%>
						<td > <img src="http://www.clker.com/cliparts/n/b/i/y/G/g/one-eyed-sun-hi.png"> </td>
					<% else %>
						<td > <img src="http://www.setexasrecord.com/content/img/f235738/ship-wheel.png" </td>
					<% end %>
				<% end %>
			</tr>
		<% end %> 
	 </table>

	 <table>
		<% (0..10).to_a.each do |column| %>
			<th><%= column %></th>
		<% end %> 

		<% ("A".."J").to_a.each_with_index do |letter, index| %>
			<tr>
				<th><%= letter %></th>
				<% row_board2[index].each do |cell| %>
					<% if cell.content.class == Water && !cell.hit? %>
						<td > </td>
					<% elsif cell.content.class == Water && cell.hit?%>
						<td > <img src="http://3.bp.blogspot.com/-ta_trXE0F38/UZvmCalbLYI/AAAAAAAADYo/MDrT3Bp47ZM/s1600/15804923-water-splash-isolated-on-black-background.jpg">  </td>
					<% elsif cell.content.class != Water && cell.hit?%>
						<td > </td>
					<% else %> </td>
					<% end %>
				<% end %>
			</tr>
		<% end %> 
	 </table>
</section>





