<article class='placing ships'>
	<form action="/new_game/place_ship", method="post">

		Ships: <select name="Ships">
			<option value="patrol_boat">Patrol Boat</option>
			<option value="aircraft_carrier">Aircraft Carrier</option>
			<option value="battleship">Battleship</option>
			<option value="destroyer">Destroyer</option>
			<option value="submarine">Submarine</option>
		</select>
     	
     	Coordinate: <input type="text" name="coordinate"><br>
   	  	Orientation:<input type="radio" name="orientation" value="vertically">Vertical<br>
   	  	<input type="radio" name="orientation" value="horizontally">Horizontal<br>
    	<input type="submit" value="place">
   </form>
 
