<article class='placing ships'>
	<h1>Place your patrol boat:</h1>
	<form action="/new_game/place_ships", method="post">
     Coordinate: <input type="text" name="coordinate"><br>
     Orientation:<input type="text" name="orientation"><br>
     <!-- <input type="radio" name="orientation" value = "vertical">vertical<br> -->
     <input type="submit" value="check">
   </form>
 
 	<% if 