body {
	background-image: url("http://hdwallpappers.com/images/wallpapers/Battleship-background_wallpaper.jpg");
	color: #FFFFFF;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #FFFAFA;
	font-size: 1em;
	font-weight: bold;
}

li {
	float: left;
}

a:link, a:visited {
	display: block;
	width: 6em;
	color: #A9A9A9;
	text-align: center;
	
}

form {
	margin-top: 15%;
	margin-left: 18%;
	font-size: 30px;
}


header h1 {
	margin-top: 5%;
	margin-left: 18%;
	font-size: 2em;
}

table {
background-image: url("http://cdn.phys.org/newman/gfx/news/hires/diving_ocean-792387.jpg");
border: 1px solid white;
width: 50%;
}

th, td {
padding: 15px;

}

th {
font-weight: strong;
font-color: rgb(2, 20, 19);
}